<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.personal.finance}">Dashboard</title>
    <!--/*/ <th:block th:include="general :: headerfiles"></th:block> /*/-->
</head>
<body class="sb-nav-fixed">
<header th:insert="general :: header"></header>
<div id="layoutSidenav">
    <div th:replace="general :: menu"></div>
    <div id="layoutSidenav_content">
        <main>
            <p></p>
            <h3 class="text-center" th:text="#{app.edit.loan}"> edit loan </h3>
            <br>
            <div class="row justify-content-center col-auto">
                <form th:action="@{/step4/edit/{id}(id=${loan.getId()})}" th:object="${loan}" method="post">

                    <label for="description" th:text="#{app.description}">loan</label>
                    <input class="form-control" type="text" th:field="*{description}" id="description" required>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    <br>
                    <label for="installment" th:text="#{app.installment}">installment</label>
                    <input class="form-control"  type="number" step="0.01" min="0" th:field="*{installment}" id="installment">
                    <span th:if="${#fields.hasErrors('installment')}" th:errors="*{installment}"></span>
                    <br>
                    <label for="interest" th:text="#{app.interest}">value</label>
                    <input class="form-control"  type="number" step="0.01" min="0" th:field="*{interest}" id="interest">
                    <span th:if="${#fields.hasErrors('interest')}" th:errors="*{interest}"></span>
                    <br>
                    <label for="value" th:text="#{app.rest.value}">value</label>
                    <input class="form-control"  type="number" step="0.01" min="0" th:field="*{value}" id="value">
                    <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
                    <br>
                    <br>
                    <input class="form-control btn-block btn-primary" type="submit">  
                </form>
            </div>
        </main>
    </div>
</div>
<div th:replace="general :: scripts"></div>


</body>
</html>